@model AppProject.Models.Trainee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trainee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsheSL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsheSL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TraineeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TraineeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastNaemCourseAttendeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastNaemCourseAttendeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndexNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndexNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfCadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfCadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BCSBatchNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BCSBatchNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkplaceAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkplaceAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EiinNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EiinNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmmergencyContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmmergencyContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmmergencyContactCellNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmmergencyContactCellNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignatureImgPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignatureImgPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
