 @model IEnumerable<AppProject.Models.Trainee>  

@using X.PagedList.Mvc.Core; 
@using X.PagedList; 
    ViewData["Title"] = "List";
}
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-md-8 mt-3">
       
       
    </div>
    <div class="col-md-4 mt-3">
         <p> 
          <a asp-action="Create" class="lead">Click to Register </a>
       </p> 
    </div>
</div>

<hr>


 
   
   @{ var list = ViewBag.trainees;
        for(int i =0; i<list.Count; i++)
        {
        
      
        <dl class="row"> 
            <h4 class="col-sm-10 text-left ">
               <span class="SL"> SERIAL NO.</span>  @(i+1)
            </h4>
           <!--  DSHE SERIAL -->
             <dt class="col-sm-4">
                 @Html.DisplayNameFor(model => model.DsheSL)<span style="display:inline-block;float:right">:</span>
            </dt>
            <dd class="col-sm-6">
               
               @list[i].DsheSL
            </dd>
            <dt class="col-sm-4">
                 @Html.DisplayNameFor(model => model.TraineeType)<span style="display:inline-block;float:right">:</span>
            </dt>
            <dd class="col-sm-6">
               
               @list[i].TraineeType
            </dd>
           
           <!--  Course Info -->
            <dt class="col-sm-4">
                 @Html.DisplayNameFor(model => model.Course_Name)<span style="display:inline-block;float:right">:</span>
            </dt>
            <dd class="col-sm-6">
               @list[i].Course_Name
            </dd>

             <dt class="col-sm-4">
                  @Html.DisplayNameFor(model => model.BatchNo)<span style="display:inline-block;float:right">:</span>
            </dt>
            <dd class="col-sm-6">
                @list[i].BatchNo
            </dd>
             <dt class="col-sm-4">
                  @Html.DisplayNameFor(model => model.OpeningDate)<span style="display:inline-block;float:right">:</span>
            </dt>
            <dd class="col-sm-6">
                From @list[i].OpeningDate) to   @list[i].ClosingDate
            </dd>
              <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LastNaemCourseAttendeded)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                  @list[i].LastNaemCourseAttendeded
              </dd>
            
            <!-- Personal Info -->
               <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                   @list[i].Name
              </dd>
               <dt class="col-sm-4">
                   @Html.DisplayNameFor(model => model.ProfileImagePath)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                  <img src="@list[i].ProfileImagePath" width="180" height="150"/>
              </dd>
               <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FatherName)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                  @list[i].FatherName
              </dd>
               <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.MotherName)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                   @list[i].MotherName
              </dd>
              <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Gender)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                 @list[i].Gender
              </dd>
              <dt class="col-sm-4">
                   @Html.DisplayNameFor(model => model.DateOfBirth)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                   @list[i].DateOfBirth
              </dd>


             <dt class="col-sm-4">
                   @Html.DisplayNameFor(model => model.BloodGroup)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                  @list[i].BloodGroup
              </dd>
             
             <dt class="col-sm-4">
                   @Html.DisplayNameFor(model => model.MaritalStatus)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                 @list[i].MaritalStatus
              </dd>

               <dt class="col-sm-4">
                  @Html.DisplayNameFor(model => model.Age)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                  @list[i].Age
              </dd>
              <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CellNo)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                @list[i].CellNo
              </dd>
             <dt class="col-sm-4">
                  @Html.DisplayNameFor(model => model.Email)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                  @list[i].Email
              </dd>

              <dt class="col-sm-4">
                   @Html.DisplayNameFor(model => model.NID)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                 @list[i].NID
              </dd>

              <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PermanentAddress)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                  @list[i].PermanentAddress
              </dd>
             
            <!--  JOB INFO -->
               <dt class="col-sm-4">
                   @Html.DisplayNameFor(model => model.Designation)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                 @list[i].Designation
              </dd>
             <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Subject)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                    @list[i].Subject
              </dd>
               <dt class="col-sm-4">
                   @Html.DisplayNameFor(model => model.IndexNo)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                  @list[i].IndexNo
              </dd>
                  <dt class="col-sm-4">
                   @Html.DisplayNameFor(model => model.NameOfCadre)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                   @list[i].NameOfCadre
              </dd>
               <dt class="col-sm-4">
                   @Html.DisplayNameFor(model => model.BCSBatchNo)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                   @list[i].BCSBatchNo
              </dd>

             <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.WorkplaceAddress)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                   @list[i].WorkplaceAddress
              </dd>
              <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EiinNo)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                   @list[i].EiinNo
              </dd>

             <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AcademicQualification)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                   @list[i].AcademicQualification
              </dd>

             

              <!-- EMMERGENCY CONTACT INFO -->
            
            <dt class="col-sm-4">
                  @Html.DisplayNameFor(model => model.EmmergencyContactName)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                 @list[i].EmmergencyContactName
              </dd>
             
              <dt class="col-sm-4">
                  @Html.DisplayNameFor(model => model.EmmergencyContactCellNo)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                  @list[i].EmmergencyContactCellNo
              </dd>
          
               <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.SignatureImgPath)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                   <img src="@list[i].SignatureImgPath" width="180" height="150"/>
              </dd>
               <dt class="col-sm-4">
                   @Html.DisplayNameFor(model => model.RegDate)<span style="display:inline-block;float:right">:</span>
              </dt>
              <dd class="col-sm-6">
                   @list[i].RegDate
              </dd>
               <dt class="col-sm-4">

               </dt>
            <dd col-sm-6>
               @* <a asp-action="Edit" asp-route-id="@list[i].ID">Edit</a> *@
               <a asp-action="#" asp-route-id="">Edit</a> |
                <a asp-action="Details" asp-route-id="@list[i].ID" asp-route-sl="@i">Details</a> |
               @* <a asp-action="Delete" asp-route-id="@list[i].ID">Delete</a>*@
               <a asp-action="#" asp-route-id="">Delete</a>
            </dd>
    </dl>
     <hr>
           
        }
   
   }
  <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->

@Html.PagedListPager((IPagedList)ViewBag.trainees, page => Url.Action("Index", new { page = page }))